* {
  
}

.entirelogo {
  font-family: Garamond; 
  font-size: 26px;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 52, 78);
    font-size: 20px;
    
}

div.mylogo {
  margin-top: 5px;
  margin-bottom: 5px;
  
}
div.logotext {
  font-size: 60px;
  font-weight: bold; 
  text-align: center;
  margin-right: 50%;
}


.table {
  border-color: red;
  color: rgb(255, 255, 255);
  font-family: Lucida;
  margin-top: 10px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}
.text-contactus {
  font-family: Garamond; 
}

.slogan {
  font-size: 40px;
  font-weight: normal;
}

.contactinfo {
  margin-top: 20px;
  background-color: rgb(17, 52, 78);
  color: rgb(255, 255, 255);
  font-size: 20px;
  position: fixed;     
  text-align: center;    
  bottom: 0px; 
  width: 100%;
  
}
div.ourstaff {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: Garamond; 
  margin-top: 10px;
  border-left:solid;
  border-left-width:thick;
  margin-left: 6px;

}

body {
  background-color: rgb(63, 119, 114);
}

.card-columns {
  margin-bottom: 20px;
  color:rgb(195, 242, 253);
  margin-left: 30%;
}
.appointment {
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-family: Garamond; 
  margin-top: 5px;
  margin-bottom: -5px;
}

.smallinfo {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: Garamond; 
  margin-top: -5px;
  /* border-left:solid;
  border-left-width:thick; */
  margin-left: 6px;
}
body {
  background-color: rgb(63, 119, 114);
  overflow-x: hidden;
}

.card-columns {
  margin-bottom: 20px;
  color:rgb(195, 242, 253);
  margin-left: 30%;
}
.form-check {
  margin-left: 25px;
}

.barbers {
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-family: Garamond; 
  margin-top: 5px;
}


.form-check-label {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: Garamond; 
}
.haircolours {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 50%;
  text-align: center;
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-family: Garamond; 
}





/* Payment info */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}



.row2 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
  margin-bottom: 15%;
  flex-direction: column-reverse;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container2 {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn1 {
  background-color: #459ede;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn1:hover {
  background-color: #45a049;
}

.payment-info {
  font-family: Garamond;
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
}

.payment-section {
  font-family: Garamond;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

/* Breadcrumbs */ 

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color:rgb(38, 39, 40) ;
  font-family: Garamond;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #ffffff;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
